{"openapi":"3.0.1","info":{"title":"Road and Lane Closures Data Service (DATEX II)","description":"Road and Lane Closures is a data service to describe all current and future road and lane closures resulting from incidents, roadworks, or any other reason.\n\nThe service is built to support:\n - Journey time predictions\n - Incident management\n - Route planning\n - Road safety policy planning\n - Enabling real-time journey alerts\n\nThe precision of the output location attributes will be 6 decimal places: 0.000001 degrees, which is approximately 0.1 meters. \n\nUse the service to gain access to up to date traffic and related information from the Strategic Road Network (SRN) based on the DATEX II specification v3.4 (https://docs.datex2.eu).\n\n Please note that, the data service has maintained all multilingual strings as strings (highlighted in the properties' description) to streamline payload. \n\n Coverage\n--\n Current release of this service will provide near real time information on planned and unplanned closures.\n\nAcross 2025, the service will be iteratively improved to provide near real-time information on incidents. \n\n Guidance\n--\n 1. For planned closures - The geometry provided in posList pertains solely to the impacted geometry for the respective Link. It does not necessarily represent the complete geometry for the National Highway's Network Model Link or the entire impacted area when a Situation comprises multiple Links. \n\n 2. For unplanned closures - The geometry provided in posList pertains to the aggregated geometry of the impacted area per applicable path, across multiple links on the SRN. And the linear element attributes provided  corresponds to the starting link of the impacted area on the SRN. \n\n 2. Please note that, where the posList attribute appears in the response structure, does differ when a SituationRecord contains multiple impacted areas of the Network to when a SituationRecord contains only one.\n \t- In the event of data having multiple locations for a SituationRecord, the locationReference will be characterised by locLocationGroupByList.locationContainedInGroup[] with respective properties nested under. The affected geometry will be available within locLocationGroupByList.locationContainedInGroup[].locLinearLocation.gmlLineString.locGmlLineString.posList.\n \t- In the event of data having one location for a SituationRecord, the locationReference will be characterised by locLinearLocation with respective properties nested under. The affected geometry will be available directly within locLinearLocation.gmlLineString.locGmlLineString.posList\n\n \n 3. Where validityStatus equals ‘active’, the works have been confirmed as started\n 4. Where validityStatus equals ‘planned’, the works are scheduled for the validityTimeSpecification period. When the current date/time is within this period, the validityStatus will remain ‘planned’ until the works are confirmed as started, at which point, it will change to ‘active’, or confirmed as cancelled at which point, it will change to ‘suspended’. \n\n 5. Completed closures will be available as 'active' until +7 days of when works ended.\n\n 6. For unplanned closures, it is strongly recommended that the startDateTime and endDateTime query parameters are sent to receive accurate closures. Not providing start and end times  will force the API to default the date range of current timestamp and end of current day and may render lesser or no results.\n\n \tTo get results recently modified (last 15 minutes) that started in the last 6 hours\n \t- set modifiedSinceDateTime to now() minus 15 minutes\n \t- set endDateTime to now()\n \t- set startDateTime to now() minus 6 hours\n\n \n7. To ensure that road users receive timely and accurate information, it is your responsibility to call the API as frequently as appropriate for the product or service leveraging this data source and utilise the data in a manner that prioritises accuracy and timeliness. Delays in refreshing data could result in outdated messages being displayed which may not reflect current road conditions. \n\n DATEX II Guidance\n--\n 1. Please note that, the schema is based on an extension of Datex v3.4 for National Highways. \n\n 2. The data service has maintained all multilingual strings as strings (highlighted in the respective properties' description) to streamline the payload. \n\n 3. All location attributes are based on WGS84 Coordinate Reference System. \n\n 4. National Highways lane usage / XSP can be found in FAQs. . \n\nFAQ\n --\nMore information can be found at https://developer.data.nationalhighways.co.uk/faq","contact":{"url":"https://developer.data.nationalhighways.co.uk/","email":"digitallaboperations@nationalhighways.co.uk"},"license":{"name":"Open Government License (OGLv3.0)"},"version":"v2.0"},"servers":[{"url":"https://api.data.nationalhighways.co.uk/roads"}],"paths":{},"components":{"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}}},"security":[{},{"apiKeyHeader":[]},{"apiKeyQuery":[]}]}